<html>
<%- include('../partials/head') %>
    <script src="/js/productValidator.js"></script>

    <body>
        <%- include('../partials/header') %>
            <section class="main-margin">
                <div class="container products-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="products-title">Formulario de creación de productos</h2>
                        </div>
                    </div>
                    <div class="col-12">
                        <form class="form-product" method="POST" action="/products/create"
                            enctype="multipart/form-data">
                            <div class="row product-detail">
                                <div class="col-12 col-md-6">
                                    <label class="form-product-label" for="productName">Producto</label>
                                    <input class="form-product-input" type="text" name="productName" id="productName"
                                        value="<%= nuevoProducto.productName %>">
                                    <p class="form-error productName">
                                        <%= typeof errors.productName=='undefined' ? '' : errors.productName.msg%>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-product-label" for="productPrice">Precio</label>
                                    <input class="form-product-input" type="text" name="productPrice" id="productPrice"
                                        value="<%= nuevoProducto.productPrice %>">
                                    <p class="form-error productPrice">
                                        <%= typeof errors.productPrice=='undefined' ? '' : errors.productPrice.msg%>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-product-label" for="productCategory">Categoria</label>
                                    <div class="form-product-input">
                                        <select name="productCategory" id="productCategory">
                                            <option value="<%= nuevoProducto.productCategory %>">
                                                <%= nuevoProducto.productCategory %>
                                            </option>
                                            <option value="Tinto">Tinto</option>
                                            <option value="Espumante">Espumante</option>
                                            <option value="Blanco">Blanco</option>
                                            <option value="Espirituoso">Espirituoso</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-product-label" for="productVarietal">Varietal</label>
                                    <div class="form-product-input">
                                        <select name="productVarietal" id="productVarietal">
                                            <option
                                                value="<%= typeof nuevoProducto.idVarietal != 'undefined' ? nuevoProducto.idVarietal : ''%>">
                                                <% if ( typeof nuevoProducto.idVarietal!='undefined' ) { %>
                                                    <% if (varietals[nuevoProducto.idVarietal]) { %>
                                                        <%= varietals[nuevoProducto.idVarietal-1].varietal %>
                                                            <% } else {%>
                                                                Elegí
                                                                <% } %>
                                                                    <% } else {%>
                                                                        Elegí
                                                                        <% } %>
                                            </option>
                                            <% varietals.forEach(element=> { %>
                                                <option value=<%=element.id%>><%=element.varietal%>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-product-label" for="productDiscount">Descuento</label>
                                    <input class="form-product-input" type="number" name="productDiscount"
                                        id="productDiscount" value="<%= nuevoProducto.productDiscount %>">
                                    <p class="form-error productDiscount">
                                        <%= typeof errors.productDiscount=='undefined' ? '' :
                                            errors.productDiscount.msg%>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-product-label" for="productScore">Score</label>
                                    <input class="form-product-input" type="number" name="productScore"
                                        id="productScore" value="<%= nuevoProducto.productScore %>">
                                    <p class="form-error productScore">
                                        <%= typeof errors.productScore=='undefined' ? '' : errors.productScore.msg%>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-product-label" for="productPresentation">Presentación</label>
                                    <input class="form-product-input" type="text" name="productPresentation"
                                        id="productPresentation" value="<%= nuevoProducto.productPresentation %>">
                                    <p class="form-error productPresentation">
                                        <%= typeof errors.productPresentation=='undefined' ? '' :
                                            errors.productPresentation.msg%>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-product-label" for="image">Imagen</label>
                                    <input class="form-product-input" type="file" name="image" id="image"
                                        accept="image/*">
                                    <p class="form-error image">
                                        <%= typeof errors.image=='undefined' ? '' : errors.image.msg%>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <label class="form-product-label" for="productDetail">Descripción</label>
                                    <textarea class="form-product-input" type="text" name="productDetail"
                                        id="productDetail"><%= nuevoProducto.productDetail%></textarea>
                                    <p class="form-error productDesc">
                                        <%= typeof errors.productDetail=='undefined' ? '' : errors.productDetail.msg%>
                                    </p>
                                </div>
                                <button class="form-product-btn" type="submit">Crear</button>
                                <button class="form-product-btn-reset" type="reset">Borrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <%- include('../partials/footer') %>
    </body>

</html>