<html>
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <section class="main-margin">
                <h1 class="form-product-title">Formulario de productos</h1>
                <form class="form-product" method="POST" action="/products/create" enctype="multipart/form-data">
                    <label class="form-product-label" for="productName">Producto</label>
                    <input class="form-product-input" type="text" name="productName" id="productName" value="<%= nuevoProducto.productName %> ">
                    <p class="form-error">
                        <%= typeof errors.productName=='undefined' ? '' : errors.productName.msg%>
                    </p>
                    <label class="form-product-label" for="productPrice" >Precio</label>
                    <input class="form-product-input" type="text" name="productPrice" id="productPrice" value="<%= nuevoProducto.productPrice %>">
                    <p class="form-error">
                        <%= typeof errors.productPrice=='undefined' ? '' : errors.productPrice.msg%>
                    </p>
                    <label class="form-product-label" for="productCategory">Categoria</label>
                    <div class="form-product-input">
                        <select name="productCategory" id="productCategory">
                            <option value="<%= nuevoProducto.productCategory %>"><%= nuevoProducto.productCategory %></option>
                            <option value="Tinto">Tinto</option>
                            <option value="Espumante">Espumante</option>
                            <option value="Blanco">Blanco</option>
                            <option value="Espirituoso">Espirituoso</option>
                        </select>
                    </div>
                    <label class="form-product-label" for="productDetail">Descripción</label>
                    <textarea class="form-product-input" type="text" name="productDetail"
                        id="productDetail" ><%= nuevoProducto.productDetail %></textarea>
                    <p class="form-error">
                        <%= typeof errors.productDetail=='undefined' ? '' : errors.productDetail.msg%>
                    </p>
                    <label class="form-product-label" for="productDiscount">Descuento</label>
                    <input class="form-product-input" type="number" name="productDiscount" id="productDiscount" value="<%= nuevoProducto.productDiscount %>">
                    <p class="form-error">
                        <%= typeof errors.productDiscount=='undefined' ? '' : errors.productDiscount.msg%>
                    </p>
                    <label class="form-product-label" for="productScore">Score</label>
                    <input class="form-product-input" type="number" name="productScore" id="productScore" value="<%= nuevoProducto.productScore %>">
                    <p class="form-error">
                        <%= typeof errors.productScore=='undefined' ? '' : errors.productScore.msg%>
                    </p>
                    <label class="form-product-label" for="productPresentation">Presentación</label>
                    <input class="form-product-input" type="text" name="productPresentation" id="productPresentation" value="<%= nuevoProducto.productPresentation %>">
                    <p class="form-error">
                        <%= typeof errors.productPresentation=='undefined' ? '' : errors.productPresentation.msg%>
                    </p>
                    <label class="form-product-label" for="image">Imagen</label>
                    <input class="form-product-input" type="file" name="image" id="image" accept="image/jpg,image/png">
                    <button class="form-product-btn" type="submit">Crear</button>
                    <input class="form-product-btn-reset" type="reset" value="Borrar">
                </form>
            </section>
            <%- include('../partials/footer') %>
    </body>

</html>