<%- include('../partials/head') %>

    <body>
        <main>
            <%- include('../partials/header') %>
                <section class="main-margin">
                    <section class="productDetail">
                        <div class="productDetail-container1">
                            <img class="productDetail-container-image" src="<%= product.img %>" alt="">
                        </div>
                        <div class="productDetail-container2">
                            <h4 class="productDetail-container-productName">
                                <%= product.productName %>
                            </h4>
                            <span class="productDetail-container-Detail">
                                <%= product.productDetail %>
                            </span>
                            <span class="productDetail-container-price">$
                                <%=(product.productPrice-product.productPrice*product.productDiscount /100).toFixed(2)
                                    %>
                            </span>
                            <div class="productDetail-container3"><span class="offers-container-card-realPrice">$
                                    <%=product.productPrice%>
                                </span> <span class="offers-container-card-discount">
                                    <%=product.productDiscount%>%off
                                </span>
                            </div>
                            <span class="productDetail-container-unitsPerProduct">
                                <%= product.productScore %> Estrellas
                            </span>
                            <span class="productDetail-container-unitsPerProduct">
                                <%= product.productPresentation %>
                            </span>
                            <div class="productDetail-container-containerUnit">
                                <form action="addToCart" method="POST">
                                    <i class="fas fa-minus-circle cart-icon"></i>
                                    <input class="cart-counter" type="text" id="counter" name="counter" value="1">
                                    <input hidden value="<%=product.id%>" name="id">
                                    <i class="fas fa-plus-circle cart-icon"></i>
                                    <button class="cart-btn5">Agregar al carrito</button>
                            </div>
                            <div class="flex">
                                <% if (locals.user.category=='Administrador' ) { %>
                                    <form class="productDetail-container-btn"
                                        action="delete/<%=product.id%>?_method=DELETE" method="POST">
                                        <a class="cart-btn51" href="edit/<%=product.id%>"><span>Editar
                                                producto</span></a>
                                        <button class="cart-btn52" type="submit">Borrar producto</button>
                                    </form>
                                    <% } %>
                            </div>

                        </div>
                    </section>
                    <section class="card-banner">
                        <div>
                            <a class="card-banner-shipping" href="#">
                                <span class="text-icons-large">Opciones de envío</span>
                                <span class="text-icons-small">Llegamos a todo el país</span>
                                <i class="fas fa-chevron-right right-arrow"></i>
                            </a>
                        </div>
                        <div>
                            <a class="card-banner-payment" href="#">
                                <span class="text-icons-large">Opciones de pago</span>
                                <span class="text-icons-small">¡Pagá en cuotas sin interés!</span>
                                <i class="fas fa-chevron-right right-arrow"></i>
                            </a>
                        </div>
                    </section>
                    <section class="offers-container">
                        <div>
                            <h2>Productos Relacionados</h2>
                        </div>
                        <div class="offers-container-grid">
                            <%for (let index=0; index < 4; index++) { %>
                                <%const element=productsRel[index];%>
                                    <div class="offers-container-card">
                                        <a href="/products/<%= element.id %>">
                                            <div>
                                                <img src="<%= element.img%>" alt="Oferta<%= element.id %>">
                                            </div>
                                            <div class="offers-container-card-text">
                                                <h3 class="offers-container-card-title">
                                                    <%= element.productName %>
                                                </h3>
                                                <h5 class="offers-container-card-price">$<%=
                                                        (element.productPrice-element.productPrice*element.productDiscount/100).toFixed(2)
                                                        %>
                                                </h5>
                                                <span class="offers-container-card-realPrice">$<%= element.productPrice
                                                        %>
                                                </span>
                                                <span class="offers-container-card-discount">
                                                    <%= element.productDiscount %>% off
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                    <%}%>
                        </div>
                    </section>
                </section>
                <%- include('../partials/footer') %>
        </main>
    </body>

    </html>