<%- include('../partials/head') %>

    <body>
        <main>
            <%- include('../partials/header') %>
                <section class="productDetail">
                    <form action="/products/edit/<%= productToEdit.id%>?_method=PUT" method="POST">
                        <div class="productDetail-container1">
                            <img class="productDetail-container-image" src="<%= productToEdit.img%>" alt="">
                            <input type="text" name="productScore" value="<%= productToEdit.productScore%>">
                            Estrellas</input>
                        </div>
                        <div class="productDetail-container2">
                            <input type="text" name="productName" value="<%= productToEdit.productName%>">
                            <textarea name="productDetail" value=""><%= productToEdit.productDetail%></textarea>
                            <input type="number" name="productPrice" value="<%= productToEdit.productPrice%>">
                            <input type="number" name="productDiscount" value="<%= productToEdit.productDiscount%>">
                            <input type="text" name="productCategory" value="<%= productToEdit.productCategory%>">
                            <p class="productDetail-container-unitsPerProduct">Caja de 6 unidades</p>
                            <button class="cart-btn5 type" submit">Editar</button>
                        </div>
                    </form>

                </section>
                <%- include('../partials/footer') %>
        </main>
    </body>

    </html>