<%- include('../partials/head') %>

  <body>
    <main>
      <%- include('../partials/header') %>
        <section class="main-margin">
          <div class="container">
            <div class="row">
              <%products.forEach(element=> { %>

                <a href="/products/<%= element.id %>">
                  <div class="col-12 col-md-4 container-productList">
                    <div class="container-productList-img">
                      <img src="<%= element.image%>" alt="">
                    </div>
                    <div class="container-productList-info">
                      <h4 class="productDetail-container-productName">
                        <%= element.name %>
                      </h4>

                      <span class="productDetail-container-price">$
                        <%=(element.price-element.price*element.discount /100).toFixed(2) %>
                      </span>
                      <div class="productDetail-container3">
                        <span class="offers-container-card-realPrice">$
                          <%=element.price%>
                        </span>
                        <span class="offers-container-card-discount">
                          <%=element.discount%>%off
                        </span>
                      </div>

                    </div>
                  </div>  
                </a>

                <%}); %>
            </div>
          </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
  </body>