
<%- include('../partials/head') %>

<body>
    <main>
        <%- include('../partials/header') %>

        <section class="container-edit">
          <%- include('../partials/profileBar') %>

          <section class="form-edit-avatar">
            <h1 class="tittle-edit">Editar Avatar</h1>
              <form  method="post" action="/users/profile/avatar/<%= user.id %>" enctype="multipart/form-data">

                <img class="avatar-edit" src="/uploadsAvatars/<%= user.avatar%>" height="200px" width="200px"/>

                <div class="file-edit">
                  <p>Elija un avatar nuevo</p>
                  <input class="input-file" type="file" name="avatar">
                </div>

                <section class="send-or-reset">
                  <button class="btn-form-enter" type="submit" name="button">Cambiar Avatar</button>
                </section>
              </form>
          </section>
        </section>

        <%- include('../partials/footer') %>

    </main>
</body>
