<%- include('../partials/head') %>

    <body>
        <main class="login-and-register">
            <%- include('../partials/header') %>

                <section class="container-form">
                    <div class="register-with-facebook">
                        <a href="https://es-la.facebook.com/"><button class="button-facebook" name="facebook"><span class="fab fa-facebook-f"></span></button></a>
                        <a href="https://es-la.facebook.com/"><button class="button-facebook1" name="facebook">
                            <p>Regitrarse con facebook</p>
                        </button></a>
                    </div>

                    <form class="register" method="post" >

                        <div class="text">
                            <p>O DEJANOS LOS SIGUIENTES DATOS:</p>
                        </div>

                        <div class="container-dates">
                            <input class="name" type="text" name="first_name" placeholder="Nombre">
                            <p class="registerName"><%= typeof errors.first_name == 'undefined' ? "" : errors.first_name.msg %></p>
                        </div>

                        <div class="container-dates">
                            <input class="surname" type="text" name="last_name" placeholder="Apellido" >
                            <p class="registerSurname"><%= typeof errors.last_name == 'undefined' ? "" : errors.last_name.msg %></p>
                        </div>

                        <div class="container-dates">
                            <label for="">Elija una categoria</label>
                            <select class="category" name="category">
                                <option value="Usuario">Comprador</option>
                                <option value="Administrador">Vendedor</option>
                            </select>
                        </div>

                        <div class="container-dates">
                            <input class="email" type="email" name="email" placeholder="E-mail" >
                            <p class="registerEmail"><%= typeof errors.email == 'undefined' ? "" : errors.email.msg %></p>
                        </div>
                        <div>
                            <% if (registeredUser != "") { %>
                            <strong>
                                <p><%= "El email " + registeredUser + " ya se encuentra registrado" %></p>
                            </strong>
                            <% } %>
                        </div>
                        <div class="container-dates">
                            <input class="password" type="password" name="password" placeholder="Cree una contraseña" >
                            <p class="registerPassword"><%= typeof errors.password == 'undefined' ? "" : errors.password.msg %></p>
                        </div>

                        <div class="send-or-reset">
                            <button class="btn-form-enter" type="submit">Crear cuenta</button>
                            <button class="btn-form-delete" type="reset" name="button">Borrar</button>
                        </div>

                        <div class="go-to-page">
                            <a href="login">¿Ya tengo cuenta?</a>
                        </div>
                    </form>
                </section>

                <%- include('../partials/footer') %>
        </main>
        <script src="/js/registerValidator.js"></script>
    </body>

    </html>
